@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Julius+Sans+One&display=swap');


.heads{
    font-family: Anek Devanagari;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}